body{
    background-image: url("https://i.pinimg.com/originals/4d/76/de/4d76de47dc54d51ed73e924e9f2f9a5b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* MOBILE */ 
@media (max-width: 767px) {
    .card{
        width: 300px;
        height: 703px;
        margin-bottom: 20px;
        box-shadow: 1px  5px 25px;
        border: 5px solid rgb(75, 75, 75);
        border-radius: 20px;
        text-decoration: none;
        background: linear-gradient(135deg,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    #title{
        position: fixed;
        color: rgb(245, 245, 230);
        font-family: 'Mukta', sans-serif;
        text-align: center;
        letter-spacing: 4px;
        padding: 9px 10px 10px ;
        margin: 0;
        background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    h2 , h3{
        text-align: center;
    }
    h3{
        font-size: 18px;
        font-family: 'Ubuntu', sans-serif;
        color: rgb(196, 196, 196);

    }
    h2{
        font-family: 'Mukta', sans-serif;
        font-size: 24px;
        color: rgb(231, 231, 231);
    }
    .desc-card{
        width: 270px;
        height: 350px;
        padding: 15px 15px;
        border-radius: 15px;
        background: rgb(255,255,255);
        font-family: 'Mukta', sans-serif;
        letter-spacing: 3px;
        text-align: center;
        background: radial-gradient(circle, rgba(255,255,255,1) 15%, rgba(200,200,200,1) 100%);
    }
    #container-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .motor{
        border-top: 1px solid black;
        padding-top: 2rem;
        justify-content: center;
        align-content: center;
    }
    #prod{
        border-bottom: 1px solid black;
        border-radius: 10px;
        padding-bottom: 2rem;
    }
    .cars-pic{
        width: 300px;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    
    }
    button{
        background: none;
        color: rgb(136, 42, 42);
        border: 1px solid rgb(104, 12, 12);
        border-radius: 6px;
        padding: 2px 6px ;
    }
    .card-fade-out {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
      
    .card-fade-out img {
        filter: grayscale(100%);
    }
}

/* TABLET */ 
@media (min-width: 768px) and (max-width: 1023px) {
    .card{
        width: 400px;
        margin-bottom: 20px;
        box-shadow: 1px  5px 25px;
        border: 5px solid rgb(75, 75, 75);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        background: linear-gradient(135deg,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    #title{
        position: fixed;
        color: white;
        font-family: "JapanRich";
        padding: 10px;
        margin: 0;
        margin-bottom: 10px;
        background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    h2 , h3{
        text-align: center;
    }
    h3{
        font-size: 18px;
        font-family: 'Ubuntu', sans-serif;
        color: rgb(196, 196, 196);

    }
    h2{
        font-family: 'Mukta', sans-serif;
        font-size: 24px;
        color: rgb(231, 231, 231);
    }
    .desc-card{
        width: 270px;
        height: 350px;
        padding: 15px 15px;
        border-radius: 15px;
        background: rgb(255,255,255);
        font-family: 'Mukta', sans-serif;
        letter-spacing: 3px;
        text-align: center;
        background: radial-gradient(circle, rgba(255,255,255,1) 15%, rgba(200,200,200,1) 100%);
    }
    #container-card{
        display: flex;
        justify-content: center;
    }
    
    .motor{
        border-top: 1px solid black;
        padding-top: 2rem;
        justify-content: center;
        align-content: center;
    }
    #prod{
        border-bottom: 1px solid black;
        border-radius: 10px;
        padding-bottom: 2rem;
    }
    .cars-pic{
        width: 300px;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    
    }
    button{
        background: none;
        color: rgb(136, 42, 42);
        border: 1px solid rgb(104, 12, 12);
        border-radius: 6px;
        padding: 2px 6px ;
    }
}

/* LAPTOP */
@media (min-width: 1024px) {
    .card{
        width: 300px;
        height: 703px;
        margin-bottom: 20px;
        box-shadow: 1px  5px 25px;
        border: 5px solid rgb(75, 75, 75);
        border-radius: 20px;
        text-decoration: none;
        background: linear-gradient(135deg,  #7d7e7d 0%,#0e0e0e 100%);
        transition: transform .1s;
    }
    .card:hover{
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
        -webkit-box-shadow: 4px 6px 26px 29px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 6px 26px 29px rgba(0,0,0,0.75);
        box-shadow: 4px 6px 26px 29px rgba(0,0,0,0.75);
    }
    #title{
        color: rgb(253, 253, 253);
        font-family: 'Mukta', sans-serif;
        text-align: center;
        letter-spacing: 4px;
        padding: 10px;
        margin: 0;
        margin-bottom: 50px;
        background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    h2 , h3{
        text-align: center;
    }
    h3{
        font-size: 18px;
        font-family: 'Ubuntu', sans-serif;
        color: rgb(196, 196, 196);
    }
    h2{
        font-size: 24px;
        font-family: 'Mukta', sans-serif;
        color: rgb(231, 231, 231);
    }
    .desc-card{
        width: 270px;
        height: 350px;
        padding: 15px 15px;
        border-radius: 15px;
        background: rgb(255,255,255);
        font-family: 'Mukta', sans-serif;
        letter-spacing: 3px;
        text-align: center;
        background: radial-gradient(circle, rgba(255,255,255,1) 15%, rgba(200,200,200,1) 100%);}
    #container-card{
        width: 300px;
        display: grid;
        margin-left: 60px;
        gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
    
    .motor{
        border-top: 1px solid black;
        padding-top: 2rem;
        justify-content: center;
        font-size: 14px;
        align-content: center;
    }
    #prod{
        border-bottom: 1px solid black;
        border-radius: 10px;
        padding-bottom: 2rem;
    }
    .cars-pic{
        width: 300px;
        height: 200px;
        
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    
    }
    button{
        background: none;
        color: rgb(136, 42, 42);
        border: 1px solid rgb(104, 12, 12);
        border-radius: 6px;
        padding: 2px 6px ;
    }
    button:hover{
        background-color: rgb(104, 12, 12);
        color: white
    }
    .card-fade-out {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    } 
    .card-fade-out img {
        filter: grayscale(100%);
    }
}